<aside class="sidebar">
    <div class="logo-container">
        <h2 class="sidebar-logo">SkillProof</h2>
    </div>
    <nav>
        <ul class="nav-list">
            <li>
                <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
                    <i data-lucide="layout-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/manage-users" routerLinkActive="active" class="nav-item">
                    <i data-lucide="users"></i>
                    <span>Manage Users</span>
                </a>
            </li>
            <li>
                <a routerLink="/manage-jobs" routerLinkActive="active" class="nav-item">
                    <i data-lucide="briefcase"></i>
                    <span>Job Postings</span>
                </a>
            </li>
            <li>
                <a routerLink="/settings" routerLinkActive="active" class="nav-item">
                    <i data-lucide="settings"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>